@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Laboratorio5.Models.PaisModel>;
@{
    ViewData["Title"] = "Movies";
}
<h1>@ViewBag.MainTitle</h1>
<div>
    <table class="table">
        <thread>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Continente</th>
                <th>Idioma</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Continente</td>
                <td>@item.Idioma</td>
            </tr>
            }
        </tbody>
    </table>
</div>
