@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Laboratorio5.Models.PaisModel>;

@{
    ViewData["Title"] = "Países";
}

<h1>@ViewBag.MainTitle</h1>

<div>
    <a href = "@Url.Action("CrearPais", "Paises")" class = "btn btn-success" > Crear país </a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Continente</th>
                <th>Idioma</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>@item.Nombre</td>
                    <td>@item.Continente</td>
                    <td>@item.Idioma</td>
                    <td>@Html.ActionLink( "Editar", "EditarPais", new { identificador = @item.Id },
                    new { @class = "btn btn alert-info", @onclick = "return confirm('¿Quiere editar este país?');"} )</td>
                    <td>@Html.ActionLink( "Borrar", "BorrarPais", new { identificador = @item.Id },
                    new { @class = "btn btn alert-danger", @onclick = "return confirm('¿Quiere borrar este país?');"} )</td>
                </tr>
            }
        </tbody>
    </table>
</div>
